function Ball.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push constant 2
pop this 2
push constant 2
pop this 3
push pointer 0
return
function Ball.move 0
push argument 0
pop pointer 0
push this 0
push this 2
add
pop this 0
push this 1
push this 3
add
pop this 1
push constant 0
return
function Ball.draw 4
push argument 0
pop pointer 0
push this 0
push constant 3
sub
pop local 0
push this 1
push constant 3
sub
pop local 1
push this 0
push constant 3
add
pop local 2
push this 1
push constant 3
add
pop local 3
push local 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 0
label IF_FALSE0
push local 1
push constant 0
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
pop local 1
label IF_FALSE1
push local 2
push constant 511
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 511
pop local 2
label IF_FALSE2
push local 3
push constant 255
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 255
pop local 3
label IF_FALSE3
push local 2
push local 0
gt
push local 3
push local 1
gt
and
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 0
push local 1
push local 2
push local 3
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE4
push constant 0
return
function Ball.bounceHorizontal 0
push argument 0
pop pointer 0
push this 2
neg
pop this 2
push constant 0
return
function Ball.bounceVertical 0
push argument 0
pop pointer 0
push this 3
neg
pop this 3
push constant 0
return
function Ball.getX 0
push argument 0
pop pointer 0
push this 0
return
function Ball.getY 0
push argument 0
pop pointer 0
push this 1
return
function Ball.getDx 0
push argument 0
pop pointer 0
push this 2
return
function Ball.getDy 0
push argument 0
pop pointer 0
push this 3
return
function Ball.reset 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push argument 2
pop this 1
push argument 3
push constant 2
call Math.multiply 2
pop this 2
push constant 2
pop this 3
push constant 0
return
function Ball.increaseSpeed 1
push argument 0
pop pointer 0
push this 2
push constant 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 2
push constant 1
add
pop local 0
goto IF_END0
label IF_FALSE0
push this 2
push constant 0
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 2
push constant 1
sub
pop local 0
goto IF_END1
label IF_FALSE1
push constant 2
pop local 0
label IF_END1
label IF_END0
push local 0
pop this 2
push constant 0
return
function Ball.clampY 0
push argument 0
pop pointer 0
push this 1
push constant 5
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 5
pop this 1
label IF_FALSE0
push this 1
push constant 250
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 250
pop this 1
label IF_FALSE1
push constant 0
return
function Ball.clampX 0
push argument 0
pop pointer 0
push this 0
push constant 3
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 3
pop this 0
label IF_FALSE0
push this 0
push constant 508
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 508
pop this 0
label IF_FALSE1
push constant 0
return
